body {
  background-color: #93785B;
  color: white;
  font-family: Courier;
}

#title, #description {
  text-align: center;
}

#description {
  margin-top: -15px;
  margin-bottom: 20px;
}

#name, #email, #number {
  display: block;
  width: 100%;
  margin: 10px 0;
}

#comments {
  display: block;
  width: 100%;
}

input[type="submit"] {
  width: 100%;
}

input {
  font-family: sans-serif;
}

legend {
  margin: 10px 0;
}